@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/*-----CABEÇALHO-----*/

header {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 200px;
    transition: 0.5s ease;

}

header .logo{
    color: #fff;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

header .navegacao{
    position: relative;
}

header .navegacao .navegacao-items a{
    position: relative;
    color: #fff;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
}

header .navegacao .navegacao-items a:before{
    content: '';
    position: absolute;
    background: #F4C62F;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

header .navegacao .navegacao-items a:hover::before{
    width: 100%;
}

/*-----FIM DO CABEÇALHO-----*/


/*-----HOME-----*/

section{
    padding: 100px 200px;
}

.home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(19, 90, 23, 0.822);
}

.home::before{
    z-index: 777;
    content: '';
    position: absolute;
    background: rgba(12, 13, 14, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.home .conteudo{
    z-index: 888;
    color: #fff;
    width: 70%;
    margin-top: 50px;
    display: none;
}

.home .conteudo.active{
    display: block;
}

.home .conteudo h1{
    font-size: 4em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    margin-bottom: 10px;
}

.home .conteudo h1 span{
    font-size: 1.0em;
    font-weight: 600;
}

.home .conteudo p{
    font-size: 20px;
    margin-bottom: 65px;
}

.home .conteudo a{
    background: #36AE7C;
    padding: 15px 35px;
    color: #fff;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
    margin: 4px;
}

.home .conteudo a:hover{
    background: #187498;
}

/*-----ICONES DE MIDIA-----*/

.home .icones-midia{
    z-index: 888;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
}

.home .icones-midia a{
    color: #fff;
    font-size: 1.6em;
    transition: 0.3s ease;
}

.home .icones-midia a:hover{
    color: #F4C62F;
}

.home .icones-midia a:not(:last-child){
    margin-bottom: 20px;
}

.home .icones-midia a:hover{
    transform: scale(1.3);
}

/*----- FIM DOS ICONES DE MIDIA-----*/

/*----- FIM HOME-----*/

.home video{
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-navegacao{
    z-index: 888;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(80px);
    margin-bottom: 12px;
}

.slider-navegacao .nav-btn{
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgb(255, 255, 255, 0.5);
    transition: 0.3s ease;
}

.slider-navegacao .nav-btn.active{
    background: #F4C62F;
}

.slider-navegacao .nav-btn:not(:last-child){
    margin-right: 20px;
}

.slider-navegacao .nav-btn:hover{
    transform: scale(1.2);
}

.video-slide{
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}
.video-slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
    transition-property: clip-path;
}

/*----- TEXTO SPAN -----*/

.conteudo span{
    color: #F4C62F;
}

/*----- FIM DO TEXTO SPAN -----*/


/*----- VIDEO -----*/
.trailer{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100000;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(60px);
    visibility: hidden;
    opacity: 0;
    background: rgba(0, 0, 0, 0.603);
}

.trailer.active{
    visibility: visible;
    opacity: 1;
}

.trailer video{
    max-width: 900px;
    outline: none;
}

.close{
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    max-width: 32px;
}
/*----- VIDEO -----*/



/*----- RESPONSIVO -----*/

@media (max-width: 1040px){
    header{
        padding: 15px 20px;
    }

    header .navegacao{
        display: none;
    }

    header .navegacao.active{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgb(1, 0, 0, 0.5);
    }

    header .navegacao .navegacao-items a{
        color: #222;
        font-size: 1.2em;
        margin: 20px;
    }

    header .navegacao .navegacao-items a::before{
        background: #222;
        height: 5px;
    }

    header .navegacao.active .navegacao-items{
        background: #fff;
        width: 600px;
        max-width: 600px;
        margin: 20px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0 5px 25px rgb(1 1 1 /20%);
    }    

    .menu-btn{
       background: url("menu.png");
        background-size: 40px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.3s ease;
      }

      .menu-btn.active{
        z-index: 999;
        background: url("close.png")no-repeat;
        background-size: 35px;
        background-position: center;
        transition: 0.3s ease;
      }

    section{
        padding: 100px 20px;
    }

    .home .conteudo h1{
        font-size: 2.8em;
        margin-bottom: 0px;
    }

    .home .icones-midia{
        right: 15px;
    }

    .home .conteudo.active{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .home .conteudo a{
        margin-bottom: 10px;
        display: block;
    }

    .trailer video{
        max-width: 90%;
    }
}

/*----- RESPONSIVO -----*/